<div class="teste-header">
  <div class="row">
    <div class="logo">
      <img src="assets/img/logo_fundo_branco.svg" alt="Logo Opa com fundo branco" />
    </div>

    <div class="menuCabecalho">
      <div class="itemsMenu">
        <div class="itemMenu">
          <a routerLink="/">Menu</a>
        </div>

        <div class="itemMenu">
          <a routerLink="/contact">Contato</a>
        </div>

        <div class="itemMenu">
          <a routerLink="/about">Sobre nós</a>
        </div>
        <div class="itemMenu">
          <a routerLink="/cart" class="cart-icon">
            Meu carrinho

            <span class="cart-badge" *ngIf="cartService.getTotalItems() > 0">
              {{ cartService.getTotalItems() }}
            </span>
          </a>
        </div>
        <!-- NOT LOGGED -->
        <div class="itemMenu" *ngIf="!user">
          <a routerLink="/login"> Entrar </a>
        </div>

        <!-- LOGGED -->
        <div class="itemMenu user-menu" *ngIf="user">
          <button class="user-button" (click)="toggleDropdown()">Olá, {{ user.name }} ▼</button>

          <div class="dropdown-menu" *ngIf="dropdownOpen">
            <a routerLink="/account"> Minha Conta </a>

            <a routerLink="/orders"> Meus Pedidos </a>

            <a *ngIf="isAdmin()" routerLink="/admin/dashboard"> Dashboard </a>

            <button (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
