<div class="teste-header">
  <div class="row">
    <div class="logo">
      <img src="assets/img/logo_fundo_branco.svg" alt="Logo Opa com fundo branco" />
    </div>
    <div class="menuCabecalho">
      <div class="itemsMenu">
        <div class="itemMenu">
          <a routerLink="/">Home</a>
        </div>
        <!-- <div class="itemMenu">
                    <a routerLink="/menu">Cardápio</a>
                </div> -->
        <div class="itemMenu">
          <a routerLink="/contato">Contato</a>
        </div>
        <div class="itemMenu">
          <a routerLink="/quemsomos">Quem somos</a>
        </div>
        <div class="itemMenu">
          <a routerLink="/entrar">Entrar</a>
        </div>
        <div class="itemMenu">
          <a routerLink="/cart" class="cart-icon">
            Meu carrinho

            <span class="cart-badge" *ngIf="cartService.getTotalItems() > 0">
              {{ cartService.getTotalItems() }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
