<div class="dashboard">
  <!-- SIDEBAR -->
  <aside class="sidebar">
    <h1>OPA Admin</h1>

    <button routerLink="/admin/create-product">Cadastrar Produto</button>

    <button>Produtos Cadastrados</button>

    <button>Editar Categorias</button>
  </aside>

  <!-- CONTENT -->
  <main class="content">
    <h2>Categorias</h2>

    <div class="products-section">
      <!-- BURGUER -->
      <div class="category-box">
        <h3>Burguer</h3>

        @for (product of burguers; track product.id) {
          <div class="product-item">
            <div class="product-left">
              <img [src]="product.image" [alt]="product.name" />

              <div class="product-info">
                <strong>
                  {{ product.name }}
                </strong>

                <p>
                  {{ product.description }}
                </p>
              </div>
            </div>

            <div class="actions">
              <button class="edit-btn" [routerLink]="['/admin/edit-product', product.id]">
                Editar
              </button>

              <button class="delete-btn" (click)="deleteProduct(product.id)">Excluir</button>
            </div>
          </div>
        }
      </div>

      <!-- HOTDOG -->
      <div class="category-box">
        <h3>HotDog</h3>

        @for (product of hotdogs; track product.id) {
          <div class="product-item">
            <div class="product-left">
              <img [src]="product.image" [alt]="product.name" />

              <div class="product-info">
                <strong>
                  {{ product.name }}
                </strong>

                <p>
                  {{ product.description }}
                </p>
              </div>
            </div>

            <div class="actions">
              <button class="edit-btn" [routerLink]="['/admin/edit-product', product.id]">
                Editar
              </button>

              <button class="delete-btn" (click)="deleteProduct(product.id)">Excluir</button>
            </div>
          </div>
        }
      </div>

      <!-- BEBIDAS -->
      <div class="category-box">
        <h3>Bebidas</h3>

        @for (product of bebidas; track product.id) {
          <div class="product-item">
            <div class="product-left">
              <img [src]="product.image" [alt]="product.name" />

              <div class="product-info">
                <strong>
                  {{ product.name }}
                </strong>

                <p>
                  {{ product.description }}
                </p>
              </div>
            </div>

            <div class="actions">
              <button class="edit-btn" [routerLink]="['/admin/edit-product', product.id]">
                Editar
              </button>

              <button class="delete-btn" (click)="deleteProduct(product.id)">Excluir</button>
            </div>
          </div>
        }
      </div>
    </div>
  </main>
</div>
