<div class="page public-layout">
  <app-header></app-header>

  <main>
    <!-- CAROUSEL -->
    <section class="banner">
      <div class="carousel">
        <img
          *ngFor="let img of images; let i = index"
          [src]="img"
          [class.active]="i === currentIndex"
        />
      </div>

      <button class="nav prev" (click)="prev()">‹</button>

      <button class="nav next" (click)="next()">›</button>

      <div class="dots">
        <span
          *ngFor="let img of images; let i = index"
          (click)="goTo(i)"
          [class.active]="i === currentIndex"
        >
        </span>
      </div>

      <div class="overlay">
        <h1 class="style-title">Menu</h1>
      </div>
    </section>

    <!-- BURGER -->
    <section class="column-card">
      <h2>Burger</h2>

      <div class="row-card">
        <app-product-card *ngFor="let product of burger" [product]="product"> </app-product-card>
      </div>
    </section>

    <!-- HOT DOG -->
    <section class="column-card">
      <h2>Hot Dog</h2>

      <div class="row-card">
        <app-product-card *ngFor="let product of dog" [product]="product"> </app-product-card>
      </div>
    </section>

    <!-- BEBIDA -->
    <section class="column-card">
      <h2>Bebida</h2>

      <div class="row-card">
        <app-product-card *ngFor="let product of bebida" [product]="product"> </app-product-card>
      </div>
    </section>
  </main>

  <app-footer></app-footer>
</div>
