<div class="card">
  <!-- Botão de Favoritos -->
  <button class="favorite-btn" (click)="toggleFavorite()">
    {{ favoriteService.isFavorite(product.id) ? '❤️' : '🤍' }}
  </button>

  <!-- Imagem -->
  <img class="card-image" [src]="product.image" [alt]="product.name" />

  <div class="card-body">
    <div class="card-header">
      <span class="card-name">{{ product.name }}</span>

      <span class="card-price"> R$ {{ product.price }} </span>
    </div>

    <p class="card-description">
      {{ product.description }}
    </p>
  </div>

  <div class="card-footer">
    <button class="card-button" (click)="addToCart()">Adicionar</button>
  </div>
</div>
