/* página */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* conteúdo */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* card login */
.login-container {
  width: 100%;
  max-width: 400px;
  background: #cedada;
  border: 1px solid #312f2f;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* título */
.login-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

/* formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* grupo */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* label */
label {
  font-weight: 600;
}

/* input */
input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #312f2f;

  font-size: 1rem;
}

/* botão */
button {
  background: #f8c537;
  border: 1px solid #312f2f;
  border-radius: 10px;
  padding: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hover */
button:hover {
  background: #312f2f;
  color: #f8c537;
}

/* cadastro */
.register-link {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 6px;
  font-size: 0.95rem;
}

/* link */
.register-link a {
  color: #312f2f;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease;
}

/* hover */
.register-link a:hover {
  color: #f8c537;
}

/* Google */

.divider {
  margin: 16px 0 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #666;
  font-size: 14px;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider span {
  padding: 0 10px;
}

#google-button {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.register-link {
  margin-top: 12px;
  text-align: center;
}
